body {
    margin: 0;
}

/* color of progress bar at the top */
#prog::-moz-progress-bar { background: green; }
#prog::-webkit-progress-value { background: green; }
#prog::-ms-progress-value { background: green; }
#prog::-o-progress-value { background: green; }
progress {
    position: sticky;
    top: 0;
    width: 100%;
    background: green; /* fallback */
}
@-moz-document url-prefix() {
    progress {
        background: #777;
    }
  }

/* card modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* fallback */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

table {
    width: 100%;
    white-space: nowrap;
}

#stats-table th{
    width: 5%; /* ensuring th of stat wont take more place than needed */
}

th {
    text-align: left;
}

#pokeImage {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pokeName {
    text-align: center;
}

.option-div {
    background: -webkit-linear-gradient(30deg, #898f96, #cddae9);
    background: -ms-linear-gradient(30deg, #898f96, #cddae9);
    background: -moz-linear-gradient(30deg, #898f96, #cddae9);
    background: -o-linear-gradient(30deg, #898f96, #cddae9);
    background: linear-gradient(30deg, #898f96, #cddae9);
    line-height: 5vh;
    min-width: 100px;
    width: 75%;
    height: 5vh;
    margin: 0.5rem auto;
    border: 1px solid black;
    border-radius: 0.3em;
    text-align: center;
}

#tooltip-span {
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 99;
    border: 1px solid black;
    background-color: #888;
    padding: 0.1em 0.5em;
    opacity: 88%;
}